.contact {
  padding: 5rem 2rem;
  background: #0f2237;
  color: var(--text-light);
  font-family: "Inter", sans-serif;
}

.contact-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-left h2 {
  font-size: 2.5rem;
  color:#ff6b6b;
  margin-bottom: 1rem;
}

.contact-left p {
  color: white;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.contact-info p {
  margin-bottom: 10px;
  color: white;
}

.contact-form {
  background: #0f2237;
  padding: 2rem;
  border-radius: 12px;
}
.contact-btn{
  color:white;
  background:#ff6b6b;
  border:none;
  width:30%;
  padding:5px;
  border-radius:8px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
  color:white;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: 500;
  color:#ff6b6b
}

.input-group input,
.input-group textarea {
  padding: 12px;
  color: white;
  background: #0f2237;
  border: 1px solid #1c3553;
  border-radius: 8px;
  color: var(--text-light);
  font-size: 15px;
}

.input-group textarea {
  min-height: 130px;
}

/* .contact-btn {
  width: 100%;
  padding: 14px;
  background: #ff6b6b;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
} */

.contact-btn:hover {
  opacity: 0.85;
}
