.footer {
  background: #0b1e3d;
  padding: 2rem 1.5rem;
  color: var(--text-light);
  font-family: "Inter", sans-serif;
  /* margin-top: 4rem; */
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-left h3 {
  font-size: 1.4rem;
  color:#ff6b6b;
  margin-bottom: 8px;
}

.footer-left p {
  color: white;
  font-size: 0.95rem;
}

.footer-right a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}

.footer-right a:hover {
  color:#ff6b6b;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #1c3553;
}

.footer-bottom p {
  color: #ff6b6b;
  font-size: 0.85rem;
}
